.back-to-top-l{
  text-align: center;
}
.back-to-top{
  padding: 60px 15px 15px;
  text-align: center;
  display: inline-block;

  &-arrow{
    display: block;
    padding: 8px 0px 0px;
    font-size: rem-calc(20);
  }

  &-link{
    display: block;
    padding: 5px;
    font-weight: 700;
    font-family: $font-family-sans-serif;
    font-size: rem-calc(11);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}