// .follow va junto con row (no tocar margenes auto)
.follow {
  padding: 0;
  text-align: center;
}

.f-header {
  @extend .section-heading-ssf;
  margin-top: 20px;
  margin-bottom: 70px;
  @media #{$medium-up} {
    margin-bottom: 105px;
  }
}
.f-social {
  @media #{$large-up} {
    > li {
      float: none;
      display: inline-block;
    }
  }
}

.f-social-hr {
  width: rem-calc(8);
  margin: 9px auto 21px;
}

.f-social-link {
  display: inline-block;

  &:hover {
    & .f-social-icon, & .f-social-name {
      color: $primary-color;
    }
    & .f-social-hr {
      border-color: $primary-color;
    }
  }
  & .f-social-icon, & .f-social-hr, & .f-social-name {
    transition: color 300ms,background-color 300ms,border 300ms,opacity 300ms;
  }
}

.f-social-name {
  text-align: center;
  font-family: Lato;
  text-transform: uppercase;
  color: $follow-color;
  font-size: rem-calc(11);
}

.f-social-icon {
  color: $follow-color;
  font-size: 38px;
  &::before {
    display: block;
  }
}