.slogan {
  padding: 0;
  text-align: center;

  > hr {
    margin: 0 auto rem-calc(15);
    width: rem-calc(30);
    color: $slogan-color;
  }
}

.slogan-nav {
  margin-bottom: rem-calc(25);
  text-align: center;
  >li {
    float: none;
    > a {
      @extend .link-underline;
      @extend .menu-secondary-typo;
      color: $slogan-color;
      &:hover {
        border-color: $slogan-color;
      }
    }
  }
}

.slogan-logo {
  padding: 25px 0 0px;
  margin-bottom: 25px;
}

.copy-typo {
  font-family: $font-family-sans-serif;
  font-size: rem-calc(11);
}

.slogan-copy {
  @extend .copy-typo;
  color: $copy-color;

  @media #{$medium-only} {
    padding: 50px;
  }

  @media #{$large-up} {
    padding: 0 100px 0;
  }
}