.text_presentation {
  padding-top: 25px;
  padding-bottom: 25px;
}

.text_presentation-avatar {
  text-align: center;
  margin: 0 auto;
}

.text_presentation-p {
  padding: 0;
  text-align: justify;
}

.text_presentation-hr{
  margin-left: auto;
  margin-right: auto;
  width: rem-calc(30);
}

.text_presentation-vr {
  @extend .v-rule;
}

.text_presentation-contact {
  padding-bottom: 15px;
}

.text_presentation-p-contact {
  text-align: center;
}

.text_presentation-p-home {
  text-align: center;
  padding:  0 20px 0;
  @media #{$medium-only} {
    padding: 0 100px 0;
  }

  @media #{$large-up} {
    padding: 0 200px 0;
  }
}