.top-bar {
  @media #{$small-only} {
    text-align: center;
  }
  .left {
    > li > a {
      box-sizing: border-box;
      text-transform: uppercase;
    }

    > li.active > a:after{
      content: ' ';
      display: block;
      border-top: 1px solid;
    }
    > li > a:hover:after {
      content: ' ';
      display: block;
      border-top: 1px solid;
    }
  }
}



// Posiblemente se cambie
//.top-bar section.top-bar-section ul.left li .nav-link {
//  @media #{$medium-up} {
//    line-height: 20px;
//    padding-top: 10px;
//    padding-bottom: 10px;
//  }
//}