<div class="ch-box">
    <div class="ch-box-header">
        <h2 class="ch-box-header-title">Image Upload</h2>
    </div>

    <div class="ch-box-body">
        <div class="row">
            <div class="large-4 columns">
                <input id="fileupload-{{id}}" name="resource[file]" type="file">
            </div>
            <div class="columns large-4">
                <img src="{{thumb}}" alt=""/>
                <input name="blocks[image][{{id}}][driver]" type="hidden" value='upload-image'>
                <input name="blocks[image][{{id}}][raw_name]" type="hidden" value='{{raw_name}}'>
                <input name="blocks[image][{{id}}][extension]" type="hidden" value='{{extension}}'>
            </div>

            <div class="large-4 columns">
                <!-- Image name Form Input -->
                <label>Image name:
                    <input placeholder="" name="blocks[image][{{id}}][name]" type="text">
                </label>
                <!-- Alternative text Form Input -->
                <label>Alternative text:
                    <input placeholder="" name="blocks[image][{{id}}][alt]" type="text">
                </label>
                <!-- Alternative text Form Input -->
                <label>Caption:
                    <input placeholder="" name="blocks[image][{{id}}][caption]" type="text">
                </label>
            </div>
        </div>
    </div>
</div>