.page.work{
  .title-project{
    line-height: 1;
    margin-bottom: 1rem;
  }
  .first-container{
    padding-top: 35px;
    margin-bottom: 45px;
  }
  img.img-project{
    @media #{$large-up} {
      padding-right: 15px;
    }
  }
  .thumb-project{
    margin-bottom: 15px;
  }
  .sub-nav{
    text-transform: uppercase;
  }
  .subtitle-project{
    font-weight: 400;
    margin-bottom: 0;
    @media #{$medium-only} {
      width: 90%;
    }
    @media #{$large-up} {
      width: 75%;
    }

    border-bottom: $salmon solid 2px;
  }

  .button.tiny{
    margin-bottom: 0;
  }
}
