@import "partials-front/fonts";
@import "partials-front/color";
@import "settings-boris";
@import "foundation/scss/foundation";
@import "partials-front/grid";
@import "partials-front/contact";
@import "partials-front/home";
@import "partials-front/service";
@import "partials-front/about";
@import "partials-front/work";

.first-container {
  margin-bottom: 30px;
  @media #{$small-only} {
  }
}

p.resume {
  font-weight: 400;
}

.button {
  text-transform: uppercase;
}

input, textarea {
  font-weight: 900;
  padding: 1rem;
  text-transform: uppercase;
}

input[type="text"] {
  padding: 1rem;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.title-huge {
  font-size: rem-calc(60px);
  line-height: 1;
}

.page {
  nav .left a {
    text-transform: uppercase;
  }

  .title-container {
    margin-bottom: 20px;
  }

  // TOP NAV
  .contain-to-grid {
    @media #{$small-only} {
      position: fixed;
      z-index: 100;
      top: 0;
      border-bottom: 1px solid $salmon;
      ul.left {
        border-top: 1px solid $salmon;
        margin-top: 20px;
        padding-top: 20px;
      }
      ul li.left:not(:last-child) {
        border-bottom: 1px solid $salmon;
      }
      ul li.right:not(:last-child) {
        border-bottom: 1px solid $salmon;
      }

    }
    @media #{$medium-up} {
      margin: 0 0 40px;
    }
    padding: 20px 0 20px;
    margin: 0;
  }

  @media #{$small-only}{
    margin-top: 70px;
    padding-top: 20px;
  }
  max-width: 100%;
  h1 {

  }
  .container-footer {
    background-color: #000000;
    padding: 30px 0 15px 0;
    .footer {
      @include grid-row();
      p {
        font-size: rem-calc(12);
        @media #{$medium-up} {
          padding: 0 100px;
        }
        text-align: center;
        color: #fff;
      }
    }
  }
  .body-container {
    margin-bottom: 40px;
  }
}