$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;


// menu principal a1a1a1
// menu activo 5c5c5c

$slogan-color: #cccccc;
$copy-color: #999999;

$primary-text-color: #727272;

// We use these as default colors throughout
$primary-color: $tuatara;
$secondary-color: #f0f0f0;
$alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;

//box project li color
$box-color: $primary-color;
$box-bg-color: $secondary-color;
$box-hover-color: #fff;
$box-bg-hover-color: $primary-color;

// footer colors
$header-color-primary: $primary-color;
$follow-color: #b3b3b3;

$slogan-color: #cccccc;
$copy-color: #999999;
$sub-heading-color: $aluminum;

$hr-preview: #b7b7b7;

$shared-icons-color: $iron;

//nav principal
$nav-ppal-color: #a1a1a1;
$nav-ppal-active-color: #f0f0f0;

$nav-ppal-color-medium-up: #a1a1a1;
$nav-ppal-active-color-medium-up: #5c5c5c;