@import "colours";
@import "fonts";
@import "mixins";

// We use this to control whether or not CSS classes come through in the gem files.
$include-html-classes: true;
// $include-print-styles: true;
$include-html-global-classes: $include-html-classes;

// b. Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

$include-html-grid-classes: $include-html-classes;
$include-xl-html-grid-classes: false;

// $row-width: rem-calc(1000);
// $total-columns: 12;
$column-gutter: rem-calc(20);

$font-family-sans-serif: "Lato", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: 'EB Garamond', Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

// We use these to control various global styles
$body-bg: $white;
$body-font-color: $primary-text-color;
$body-font-family: $font-family-serif;
// $body-font-weight: $font-weight-normal;
// $body-font-style: normal;

// e. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-type-classes: $include-html-classes;

// We use these to control header font styles
// $header-font-family: $body-font-family;
// $header-font-weight: $font-weight-normal;
// $header-font-style: normal;
$header-font-color: $header-color-primary;
// $header-line-height: 1.4;
// $header-top-margin: .2rem;
// $header-bottom-margin: .5rem;
// $header-text-rendering: optimizeLegibility;

// We use these to control header font sizes
// $h1-font-size: rem-calc(44);
// $h2-font-size: rem-calc(37);
// $h3-font-size: rem-calc(27);
// $h4-font-size: rem-calc(23);
// $h5-font-size: rem-calc(18);
// $h6-font-size: 1rem;

// We use these to control header size reduction on small screens
// $h1-font-reduction: rem-calc(10) !default;
// $h2-font-reduction: rem-calc(10) !default;
// $h3-font-reduction: rem-calc(5) !default;
// $h4-font-reduction: rem-calc(5) !default;
// $h5-font-reduction: 0 !default;
// $h6-font-reduction: 0 !default;

// These control how subheaders are styled.
// $subheader-line-height: 1.4;
// $subheader-font-color: scale-color($header-font-color, $lightness: 35%);
// $subheader-font-weight: $font-weight-normal;
// $subheader-top-margin: .2rem;
// $subheader-bottom-margin: .5rem;

// A general <small> styling
// $small-font-size: 60%;
// $small-font-color: scale-color($header-font-color, $lightness: 35%);

// We use these to style paragraphs
//$paragraph-font-family: $font-family-serif;
// $paragraph-font-weight: $font-weight-normal;
$paragraph-font-size: 1.125rem;
$paragraph-line-height: 1.65;
// $paragraph-margin-bottom: rem-calc(20);
// $paragraph-aside-font-size: rem-calc(14);
// $paragraph-aside-line-height: 1.35;
// $paragraph-aside-font-style: italic;
// $paragraph-text-rendering: optimizeLegibility;

// We use these to style <code> tags
// $code-color: $oil;
// $code-font-family: $font-family-monospace;
// $code-font-weight: $font-weight-normal;
// $code-background-color: scale-color($secondary-color, $lightness: 70%);
// $code-border-size: 1px;
// $code-border-style: solid;
// $code-border-color: scale-color($code-background-color, $lightness: -10%);
// $code-padding: rem-calc(2) rem-calc(5) rem-calc(1);

// We use these to style anchors
// $anchor-text-decoration: none;
// $anchor-text-decoration-hover: none;
// $anchor-font-color: $primary-color;
//$anchor-font-color-hover: scale-color($primary-color, $lightness: -14%);
$anchor-font-color-hover: $primary-color;

// We use these to style the <hr> element
$hr-border-width: 2px;
$hr-border-style: solid;
$hr-border-color: $iron;
$hr-margin: rem-calc(24);

// We use these to style lists
// $list-font-family: $paragraph-font-family;
// $list-font-size: $paragraph-font-size;
// $list-line-height: $paragraph-line-height;
// $list-margin-bottom: $paragraph-margin-bottom;
// $list-style-position: outside;
// $list-side-margin: 1.1rem;
// $list-ordered-side-margin: 1.4rem;
// $list-side-margin-no-bullet: 0;
// $list-nested-margin: rem-calc(20);
// $definition-list-header-weight: $font-weight-bold;
// $definition-list-header-margin-bottom: .3rem;
// $definition-list-margin-bottom: rem-calc(12);

// We use these to style blockquotes
// $blockquote-font-color: scale-color($header-font-color, $lightness: 35%);
// $blockquote-padding: rem-calc(9 20 0 19);
// $blockquote-border: 1px solid $gainsboro;
// $blockquote-cite-font-size: rem-calc(13);
// $blockquote-cite-font-color: scale-color($header-font-color, $lightness: 23%);
// $blockquote-cite-link-color: $blockquote-cite-font-color;

// Acronym styles
// $acronym-underline: 1px dotted $gainsboro;

// We use these to control padding and margin
// $microformat-padding: rem-calc(10 12);
// $microformat-margin: rem-calc(0 0 20 0);

// We use these to control the border styles
// $microformat-border-width: 1px;
// $microformat-border-style: solid;
// $microformat-border-color: $gainsboro;

// We use these to control full name font styles
// $microformat-fullname-font-weight: $font-weight-bold;
// $microformat-fullname-font-size: rem-calc(15);

// We use this to control the summary font styles
// $microformat-summary-font-weight: $font-weight-bold;

// We use this to control abbr padding
// $microformat-abbr-padding: rem-calc(0 1);

// We use this to control abbr font styles
// $microformat-abbr-font-weight: $font-weight-bold;
// $microformat-abbr-font-decoration: none;

// 34. Top Bar
// - - - - - - - - - - - - - - - - - - - - - - - - -

$include-html-top-bar-classes: $include-html-classes;

// Background color for the top bar
$topbar-bg-color: $primary-color;
$topbar-bg: $topbar-bg-color;
$topbar-bg-medium-up: transparent;

// Height and margin
$topbar-height: rem-calc(20);
$topbar-margin-bottom: 0;

// Controlling the styles for the title in the top bar
$topbar-title-weight: normal;
$topbar-title-font-size: rem-calc(17);

// Style the top bar dropdown elements
$topbar-dropdown-bg: transparent;
// $topbar-dropdown-link-color: $white;
// $topbar-dropdown-link-bg: $oil;
// $topbar-dropdown-link-weight: $font-weight-normal;
// $topbar-dropdown-toggle-size: 5px;
// $topbar-dropdown-toggle-color: $white;
// $topbar-dropdown-toggle-alpha: 0.4;

// Set the link colors and styles for top-level nav
$topbar-link-color: $nav-ppal-color;
$topbar-link-color-hover: scale-color($nav-ppal-color, $lightness: 13%);
$topbar-link-color-active: $secondary-color;
$topbar-link-color-active-hover: $secondary-color;
$topbar-link-weight: 700;
$topbar-link-font-size: rem-calc(13);
$topbar-link-font-size-medium-up: rem-calc(11);
// $topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-bg: $topbar-bg;
$topbar-link-bg-medium-up: $topbar-bg-medium-up;
$topbar-link-bg-color-hover: $topbar-bg-medium-up;
$topbar-link-bg-hover: false;
$topbar-link-bg-active: $topbar-bg-color;
$topbar-link-bg-active-hover: $topbar-bg-color;
$topbar-link-font-family: $font-family-sans-serif;
$topbar-link-text-transform: uppercase;
$topbar-link-padding: ( $topbar-height / 1.5 );
// $topbar-back-link-size: $h5-font-size;
// $topbar-link-dropdown-padding: 20px;

// $topbar-button-font-size: 0.75rem;
// $topbar-button-top: 7px;

// $topbar-dropdown-label-color: $monsoon;
// $topbar-dropdown-label-text-transform: uppercase;
// $topbar-dropdown-label-font-weight: $font-weight-bold;
// $topbar-dropdown-label-font-size: rem-calc(10);
// $topbar-dropdown-label-bg: $oil;

// Top menu icon styles
$topbar-menu-link-transform: uppercase;
$topbar-menu-link-font-size: rem-calc(13);
$topbar-menu-link-weight: 700;
$topbar-menu-link-color: $secondary-color;
$topbar-menu-icon-color: $secondary-color;
$topbar-menu-link-color-toggled: $secondary-color;
$topbar-menu-icon-color-toggled: $secondary-color;

// Transitions and breakpoint styles
$topbar-transition-speed: 300ms;
// Using rem-calc for the below breakpoint causes issues with top bar
// $topbar-breakpoint: #{lower-bound($medium-range)}; // Change to 9999px for always mobile layout
//$topbar-media-query: $medium-up;

// Divider Styles
//$topbar-divider-border-bottom: solid 1px  scale-color($topbar-bg-color, $lightness: 13%);
$topbar-divider-border-bottom: solid 1px  $topbar-bg-color;
//$topbar-divider-border-top: solid 1px scale-color($topbar-bg-color, $lightness: -50%);
$topbar-divider-border-top: solid 1px $topbar-bg-color;

// Sticky Class
// $topbar-sticky-class: ".sticky";
// $topbar-arrows: true; //Set false to remove the triangle icon from the menu item


// 13. Inline Lists
// - - - - - - - - - - - - - - - - - - - - - - - - -

$include-html-inline-list-classes: $include-html-classes;

// We use this to control the margins and padding of the inline list.
// $inline-list-top-margin: 0;
// $inline-list-opposite-margin: 0;
// $inline-list-bottom-margin: rem-calc(17);
// $inline-list-default-float-margin: rem-calc(-22);
// $inline-list-default-float-list-margin: rem-calc(22);

// $inline-list-padding: 0;

// We use this to control the overflow of the inline list.
// $inline-list-overflow: hidden;

// We use this to control the list items
$inline-list-display: inline-block;

// We use this to control any elements within list items
// $inline-list-children-display: block;


// 11. Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -

$include-html-form-classes: $include-html-classes;

// We use this to set the base for lots of form spacing and positioning styles
// $form-spacing: rem-calc(16);

// We use these to style the labels in different ways
// $form-label-pointer: pointer;
// $form-label-font-size: rem-calc(14);
// $form-label-font-weight: $font-weight-normal;
$form-label-line-height: 2;
// $form-label-font-color: scale-color($black, $lightness: 30%);
$form-label-small-transform: uppercase;
// $form-label-bottom-margin: 0;
$input-font-family: $font-family-sans-serif;
// $input-font-color: rgba(0,0,0,0.75);
// $input-font-size: rem-calc(14);
$input-bg-color: $secondary-color;
$input-focus-bg-color: scale-color($secondary-color, $lightness: -5%);
$input-border-color: scale-color($secondary-color, $lightness: -20%);
$input-focus-border-color: scale-color($secondary-color, $lightness: -40%);
$input-border-style: none;
// $input-border-width: 1px;
// $input-border-radius: $global-radius;
// $input-disabled-bg: $gainsboro;
// $input-disabled-cursor: $cursor-default-value;
$input-box-shadow: none;

// We use these to style the fieldset border and spacing.
// $fieldset-border-style: solid;
// $fieldset-border-width: 1px;
// $fieldset-border-color: $gainsboro;
// $fieldset-padding: rem-calc(20);
// $fieldset-margin: rem-calc(18 0);

// We use these to style the legends when you use them
// $legend-bg: $white;
// $legend-font-weight: $font-weight-bold;
// $legend-padding: rem-calc(0 3);

// We use these to style the prefix and postfix input elements
// $input-prefix-bg: scale-color($white, $lightness: -5%);
// $input-prefix-border-color: scale-color($white, $lightness: -20%);
// $input-prefix-border-size: 1px;
// $input-prefix-border-type: solid;
// $input-prefix-overflow: hidden;
// $input-prefix-font-color: $oil;
// $input-prefix-font-color-alt: $white;

// We use this setting to turn on/off HTML5 number spinners (the up/down arrows)
// $input-number-spinners: true;

// We use these to style the error states for inputs and labels
// $input-error-message-padding: rem-calc(6 9 9);
// $input-error-message-top: -1px;
// $input-error-message-font-size: rem-calc(12);
// $input-error-message-font-weight: $font-weight-normal;
// $input-error-message-font-style: italic;
// $input-error-message-font-color: $white;
// $input-error-message-font-color-alt: $oil;

// We use this to style the glowing effect of inputs when focused
$input-include-glowing-effect: false;
// $glowing-effect-fade-time: 0.45s;
// $glowing-effect-color: $input-focus-border-color;

// Select variables
//$select-bg-color: $ghost;
// $select-hover-bg-color: scale-color($select-bg-color, $lightness: -3%);


// 03. Block Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-block-grid-classes: $include-html-classes;
// $include-xl-html-block-grid-classes: false;

// We use this to control the maximum number of block grid elements per row
// $block-grid-elements: 12;
// $block-grid-default-spacing: rem-calc(20);
$align-block-grid-to-grid: true;

// Enables media queries for block-grid classes. Set to false if writing semantic HTML.
// $block-grid-media-queries: true;



// 05. Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -

$include-html-button-classes: $include-html-classes;

// We use these to build padding for buttons.
// $button-tny: rem-calc(10);
// $button-sml: rem-calc(14);
// $button-med: rem-calc(16);
// $button-lrg: rem-calc(18);

// We use this to control the display property.
// $button-display: inline-block;
// $button-margin-bottom: rem-calc(20);

// We use these to control button text styles.
$button-font-family: $font-family-sans-serif;
// $button-font-color: $white;
// $button-font-color-alt: $oil;
// $button-font-tny: rem-calc(11);
// $button-font-sml: rem-calc(13);
// $button-font-med: rem-calc(16);
// $button-font-lrg: rem-calc(20);
// $button-font-weight: $font-weight-normal;
// $button-font-align: center;

// We use these to control various hover effects.
$button-function-factor: -40%;

// We use these to control button border and hover styles.
// $button-border-width: 0px;
// $button-border-style: solid;
$button-bg-color: scale_color($primary-color, $lightness: 20%);
// $button-bg-hover: scale-color($button-bg-color, $lightness: $button-function-factor);
// $button-border-color: $button-bg-hover;
// $secondary-button-bg-hover: scale-color($secondary-color, $lightness: $button-function-factor);
// $secondary-button-border-color: $secondary-button-bg-hover;
// $success-button-bg-hover: scale-color($success-color, $lightness: $button-function-factor);
// $success-button-border-color: $success-button-bg-hover;
// $alert-button-bg-hover: scale-color($alert-color, $lightness: $button-function-factor);
// $alert-button-border-color: $alert-button-bg-hover;

// We use this to set the default radius used throughout the core.
// $button-radius: $global-radius;
// $button-round: $global-rounded;

// We use this to set default opacity and cursor for disabled buttons.
// $button-disabled-opacity: 0.7;
// $button-disabled-cursor: $cursor-default-value;
