.l-header{
  background-color: $secondary-color;
  width: 100%;
}

.l-header-small-banner{
  height: 100px;
  padding: 12px 0;
  > img {
    display: block;
    margin: 0 auto;
  }
}

.l-header-banner{
  padding: 50px 0;
  z-index: 1;
  > img {
    display: block;
    margin: 0 auto;
  }
}