.preview_project {

  padding-bottom: 0;
  padding-top: 10px;
  @media #{$medium-up} {
    padding-bottom: 30px;
    padding-top: 75px;
  }
//  height: 450px;

  .preview_project-desc {

    @media #{$medium-up} {
      height: 150px;
    }
    overflow: hidden;
  }
}

.preview_project-text {
  @media #{$small-only} {
    margin-bottom: 0px;
    padding-top: 10px;
  }
}
.preview_hr_list {
  margin-top: 30px;
  margin-bottom: 30px;
  @media #{$medium-up} {
    margin-bottom: 60px;
  }
}